<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/survey.css}">
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="headerItems">
                <img th:src="@{/media/logo.gif}" style="width:40%">
            </div>
        </div>
        <div id="body">
            <div id="options">
                <a class="optionValue" href="/">Home</a><br>
            </div>
            <div id="survey">
                <div id="surveyHeader">
                    <h1 id="surveyTitle" th:text="${survey.getSurveyName()}"></h1>
                    <div id="surveyInfo">
                        <h2 id="surveyInfoNumberOfQuestions" th:text="'Number Of Questions: ' + ${surveySize}"></h2>
                    </div>
                </div>
                <form th:action="@{/submitAnswers} + '/' + ${survey.getId()}" method="post">
                    <div class="question" th:each="question : ${stringQuestions}">
                        <h2 class="questionTitle" th:text="${question.getQuestion()}"></h2>
                            <label th:for="${question.getId()}">
                                <input th:if="${question.isMandatory()}" class="questionAnswer" th:type="${question.getType()}" th:id="${question.getId()}" th:name="${question.getId()}" required/>
                                <input th:if="${!question.isMandatory()}" class="questionAnswer" th:type="${question.getType()}" th:id="${question.getId()}" th:name="${question.getId()}"/>
                            </label>
                    </div>
                    <div class="question" th:each="question : ${optionQuestions}">
                        <h2 class="questionTitle" th:text="${question.getQuestion()}"></h2>
                        <th:block th:switch="${question.isMultipleSelect()}">
                            <label th:case="false" th:for="${question.getId()}">
                                <select th:if="${question.isMandatory()}" th:id="${question.getId()}" th:name="${question.getId()}" required>
                                    <option th:each="answer : ${question.getAnswers()}" th:value="${answer}" th:text="${answer}"></option>
                                </select>
                                <select th:if="${!question.isMandatory()}" th:id="${question.getId()}" th:name="${question.getId()}">
                                    <option th:each="answer : ${question.getAnswers()}" th:value="${answer}" th:text="${answer}"></option>
                                </select>
                            </label>
                            <label th:case="true" th:for="${question.getId()}">
                                <select th:if="${question.isMandatory()}" th:id="${question.getId()}" th:name="${question.getId()}" multiple required>
                                    <option th:each="answer : ${question.getAnswers()}" th:value="${answer}" th:text="${answer}"></option>
                                </select>
                                <select th:if="${!question.isMandatory()}" th:id="${question.getId()}" th:name="${question.getId()}" multiple>
                                    <option th:each="answer : ${question.getAnswers()}" th:value="${answer}" th:text="${answer}"></option>
                                </select>
                            </label>
                        </th:block>
                    </div>
                    <input id="submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>